html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

html, body{
    height: 100%;
}

.header, .footer{
    text-align: center;
    height: 10%;    
    position:relative;
}

.header p, .footer p{
    font-size: medium;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

.main{
    height: 80%;
    text-align: center;
}

.form{
    display: inline-block;
    width: 25%;
    padding: 10px 25px;
}

.footer a{
    color: black;
}