html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

.header{
    text-align: center;
}

.main{
    text-align: center;
}

.form{
    display: inline-block;
    width: 25%;
    padding: 10px 25px;
}
