html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

h3 {
    font-size: large;
}

h4{
    font-size: medium;
}
.header {
    background-color: rgb(150, 171, 172);
    height: 60px;
}

.menu {    
    vertical-align: middle;
}

.menu li {
    color: azure;
    float: left;
    padding: 10px 20px;
    list-style: none;
}

.main {
    margin: 0 100px;
    background-color: rgb(249, 251, 252);
    height: 800px;
}

.education, .competitiveProgramming, .link {
    padding: 10px;
}

.education li, .competitiveProgramming li, .link li{
    font-size: small;
    list-style: none;
}

#atCoderAcount {
    color: rgb(25, 203, 216);
}

.footer {    
    background-color: rgb(150, 171, 172);
    height: 100px;
    text-align: center;
    color: azure;
}