html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

h3 {
    font-size: large;
}

h4{
    font-size: medium;
}

html, body{
    height: 100%;
}

.header {
    background-color: rgb(150, 171, 172);
    height: 7%;
}

.menu {    
    vertical-align: middle;
}

.menu li {
    color: azure;
    float: left;
    padding: 10px 10px;
    list-style: none;
}

.menu li a{
    color: azure;
}

.main {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(249, 251, 252);
    height: 87%;
    padding:10px 10px;
}



.education, .competitiveProgramming, .link, .myname {
    padding: 10px;
}

.education li, .competitiveProgramming li, .link li{
    font-size: small;
    list-style: none;
}

#photo {
    width: 30%;
    padding: auto;
}

.myname p{
    font-size: x-small;
}

#atCoderAcount {
    color: rgb(25, 203, 216);
}

.footer {    
    background-color: rgb(150, 171, 172);
    height: 5%;
    text-align: center;
    color: azure;
}